:root{
  --color1: #d53369;
  --color2: #daae51;
}

html, body{
overflow-x: hidden;
}
#parallax1{
  transform: scale(1.5) !important;
}
.bg-gray-900{
    background-color: #292E34;
}
.bg-gray-800{
    background-color: #3A444E;  
}
.dropdown-menu[data-bs-popper]{
    right: 0 !important;
    left: unset !important;
}
.navbar{
    z-index: 1000;
    background-color: #daaf5100;
    transition: 0.3s;
    box-shadow: none;
}
.dropdown-menu>li>a:hover {
    text-decoration: none;
    background-color: #292E34;
 }
 .mb-n2 {
  margin-bottom: -5em !important;
}
.mt-n2 {
  margin-top: -5em !important;
}
.buffer{
  margin-top: 50px;
}
.socials{
  z-index: 100000;
}

 /*--------------------------------------------------------------
# Landing Section
--------------------------------------------------------------*/
 .gradient-orange{
    background: linear-gradient(45deg, var(--color1) 0%, var(--color2) 100%);
    position: relative;
 }
 .gradient-orange::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  bottom: 0;
  transform-origin: left bottom;
  transform: skewY(2deg);
 }
 .text-gradient{
    background: -webkit-linear-gradient(45deg, var(--color1) 0%, var(--color2) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;;
 }
  .hover{
      transition: 1s;
  }
  .hover:hover{
    -ms-transform: scale(1.03); /* IE 9 */
    -webkit-transform: scale(1.03); /* Safari 3-8 */
    transform: scale(1.03); 
  }

  .footer{
    background: linear-gradient(45deg, var(--color1) 0%, var(--color2) 100%);
    position: relative;
 }
 .footer::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  bottom: 0;
  transform-origin: right top;
  transform: skewY(2deg);
 }


 img{
	max-width: 100%;
}
.gallery{
	padding: 80px 0;
}
.gallery img{
	background-color: #3A444E;
	padding: 15px;
	width: 100%;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	cursor: pointer;
}
#gallery-modal .modal-img{
	width: 100%;
}
.modal-open{
  padding-right: 0px !important; 
}
.modal-backdrop{
  z-index: 0;
}

.reveal{
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: .8s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

 /*--------------------------------------------------------------
# Scroll Bar
--------------------------------------------------------------*/
  /* width */
::-webkit-scrollbar {
  width: 8px;
  height: 90%;
}
/* Track */
::-webkit-scrollbar-track {
  background: #292E34;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(45deg, var(--color1) 0%, var(--color2) 100%);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  -webkit-linear-gradient(45deg, var(--color1) 0%, var(--color2) 100%);
}